<div class="container">
  <div class="top-box">
    <div class="home-text mt-2">
      <h1>音楽でつながるSNS</h1>
      <p class="about_text mb-3">オリジナルの曲が作りたいけどフレーズが浮かばない！<br>
      そんな時ありませんか？<br>
      バッキングを投稿したらリードをつけてくれるかも！そんなアプリです</p>
      <p class="about_caution mt-3">
        注意<br>
        当サイトでの投稿はオリジナル楽曲のみに限ります。<br>
        原曲・コピー音源を投稿された場合削除させていただきます。<br>
      </p>
    </div>
  </div>
</div>