<div class="container">
  <div class="top-box">
    <div class="top-text">
    <h1 class="top-h1">セッションしてみよう！</h1>
    <p class="top-comment">
      ギターは弾けるけどドラムは叩けない・・・<br>
      歌は歌えるけど楽器が弾けない・・・<br>
  
      そんな人たちのフリーセッションスペース！<br>
  
      今すぐあなたの作品を投稿してみよう！
    </p>
    </div>
  </div>
</div>
