// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-box{
  text-align: center;
  height: 500px;
  padding-top: 150px;
}

.home-text{
  text-align: center;
  color: #62d4cf;
}

.about_caution{
  color: #ee827c;
}

.btn-flat-double-border {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #62d4cf;
  border: double 4px #62d4cf;
  border-radius: 3px;
  transition: .4s;
}
.btn-flat-double-border:hover {
  background: #62d4cf;
}